
.servicos{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.servicinhos{
    font-size: 2em;
    color:#E0E18A;
    display: flex;
    justify-content: center;
  
  }

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15em;
}

.info div{
    width: 230px;
}

.info p{
    padding-top: 3em;
    padding-bottom: 5em;
}


.info h2{
    padding-top: 3em;
}

.info button{


}

.img {
    width: 200px;
    margin-top: 2em;
    border-radius: 30%;
  }
  
  .img img {
      object-fit: cover;
      width: 200px;
      height: 250px;
  }
  
