body{
  display: flex;
  flex-direction: column;
  
  
}





.container{
  display: flex;
  flex-direction: row;
  /* margin: 0.5em; */
  background: #9D70EB;
}

.box{
  display: flex;
  flex-direction: column;
  margin: 0em 3em;
}

.search{
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #E0E18A;
  height: fit-content;
}

.search input{
  width: 63.75em;
  height: 4em;
  background: none;
  border: none;
  margin-left: 0.7em;
  outline: none;
}

.search input::placeholder{
  font-size: 1.1em;
  font-weight: 300;
  color: #7C57BC;
}

.navBar{
  display: flex;
  flex-direction: row;
  width: 63.8375em;
  justify-content: space-between;
  
}

.navBar {

  font-size: 1.1em;
  font-weight: 300;
  color: #E0E18A;
  margin: 0em;
  height: 2.84em;
  display: flex;
  align-items: flex-end;
}

.navBars{
  display: flex;
  flex-direction: row;
  width: 63.8375em;
  justify-content: space-between;
  text-decoration: none;
  
}

.navBars {

  font-size: 1.1em;
  font-weight: 300;
  color: #E0E18A;
  margin: 0em;
  height: 2.84em;
  display: flex;
  align-items: flex-end;
}

.navBars:hover{
  color:#60611d;
  animation: 0.5s;
  transition: 0.5s;
}
.navBars:active{
  color:#60611d;
  animation: 0.5s;
  transition: 0.5s;
}