.bar {
    background: #9D70EB;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .bar .logo {
    height: 50px;


  }
  .bar div img {
    width: 130px;
  }
  
  .ae {
    display: flex;
    justify-content: flex-end;
    background: #E0E18A;
    color: #fff;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px 0 0 20px ;
    

    

  }
  
  .bar input::placeholder {
    color: #c7c7c7;
  }

  .bar input{
    background: #E0E18A;
    color: #fff;
    width: 400px;
    height: 40px;
    border: none;

    border-radius: 20px 
    

  }


  