.saleCard {
  width: 200px;
  margin-top: 2em;
}

.saleCard img {
    object-fit: cover;
    width: 200px;
    height: 250px;
}


.saleCard img:hover {
  scale: 1.05;
}


.info {
  padding: 20px;
  margin: 0;
}

.info h4 {
  text-transform: uppercase;
  font-size: 16px;
}


.gato{
  margin-bottom: 2em;
}